<p id="notice"><%= notice %></p>



<% @user.lists.each do |list| %>
  <ul><li><%= link_to list.title, list_path(list) %></li></ul>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
