<p id="notice"><%= notice %></p>

<table class="table-minimal">
  <thead>
    <th><%= link_to 'Create a new list', new_list_path  %></th>
  </thead>

  <tbody>
    <% @user.lists.each do |list| %>
    <tr> <td><%= link_to list.title, list_path(list) %></td></tr>
    <% end %>
  </tbody>


</table>


