// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 td.item_name {
  color: green;
 }

td.item_name.complete {
  color: red;
  text-decoration: line-through
}